.countdown-timer {
  width: 600px;
  height: 100px;
  border: 2px solid rgb(47, 193, 140);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.1)
}